#carousell {
  text-align: center;
  padding: 50px 0;
}

.carousell-title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.carousell-desc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.carousell-swiper-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  overflow: visible;
  position: relative;
}


.carousell-swiper {
  width: 90%;
}

@media screen and (max-width:768px) {
    .carousell-swiper {
      height: 500px;
    }
}

@media screen and (max-width:480px) {
    .carousell-swiper {
      height: 500px;
      width: 100%;
    }
}

.swiper-slide {
  min-height: 380px;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
    .swiper-slide {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 5px;
    }
}

.project-slide {
  width: 100%;
  height: 100%;
  min-height: 380px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  background: rgb(50, 50, 50);
  overflow: visible;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width:480px) {
    .project-slide {
        flex: 1 1 100%;
        min-height: auto;
        padding: 10px;
    }
}

.slider-img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  object-position: center;
  display: block;
  margin-bottom: 1px;
  border: 1px solid #ccc;
}

.slider-text h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

.slider-text p {
  color: #555;
  font-size: 1rem;
  flex-grow: 1;
}

@media screen and (max-width:585px) {
    .slider-text h3 {
      font-size: 0.9rem;
      flex-grow: 1;
    }
}

@media screen and (max-width:585px) {
    .slider-text p {
        font-size: 0.9rem;
    }
}

.projectButton {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 14px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
  margin-top: auto;
  margin-bottom: 10px;
}

@media screen and (max-width:480px) {
    .projectButton {
        margin-top:10px;
        margin-bottom: 0px;
        align-self: center;
    }
}

.projectButton:hover {
  background-color: #0056b3;
}

.carousell-swiper .swiper-button-prev,
.carousell-swiper .swiper-button-next {
  color: #bbb;
  background-color: #555;
  padding: 15px;
  border-radius: 10%;
  height: 90px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousell-swiper .swiper-button-prev:hover,
.carousell-swiper .swiper-button-next:hover {
  color: #fff;
}

@media screen and (max-width:765px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
        visibility: hidden;
    }
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

