#carousell {
  text-align: center;
  padding: 50px 0;
}

.carousell-title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.carousell-desc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.carousell-swiper {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
}

.swiper-slide {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-slide {
  width: 100%;
  height: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  background: rgb(50, 50, 50);
  overflow: hidden;
  text-align: center;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  display: block;
  margin-bottom: 1px;
  border: 1px solid #ccc;
}

.slider-text h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

.slider-text p {
  color: #555;
  font-size: 1rem;
}

.projectButton {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.projectButton:hover {
  background-color: #0056b3;
}

